body {
  background-color: #003366;
  color: white;
}

#validationMessage {
  color: red;
}

.cell-bottom {
	border-bottom: solid 1;
}

.cell-right {
	border-right: solid 1;
}

td {
  width:50px;
  height:50px;
  background-color: orange;
  border:solid 1
}

td.shipRed {
  background-color: red;
}

td.shipBlue {
  background-color: blue;
}

td.shipGreen {
  background-color: green;
}

.firstCell {
  clear:both;
}

.defaultCell {
  width:40px;
  height:40px;

  border:solid 1;
  float:left;
}

.yTitles {
  width: 130px;
  margin-top: -10px;
}

.yTitle {
  height: 50px;
  padding-top: 16px;
  text-align: right;
  font-size: 12px;
  -moz-transform:rotate(-45deg); 
  -moz-transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: bottom right;
  -o-transform: rotate(-45deg);
  -o-transform-origin: bottom right;
  transform: rotate(315deg);
}

.xTitles {
  margin-top: 30px;
}

.xTitle {
  width: 50px;
  float: left;
  font-size: 12px;
  -moz-transform:rotate(-45deg); 
  -moz-transform-origin: top left;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: top left;
  -o-transform: rotate(-45deg);
  -o-transform-origin:  top left;
  transform: rotate(315deg);
}

.tocadoContainer {
  width: 600px;
  height: 300px;
}

.tocado {
  font-size: 80px;
  text-align: center;
  padding-top:96px;
}

.tocado-phone {
  width: 240px;
  height: 240px;
}

.tocado-phone .tocado {
  font-size: 50px;
  padding-top: 115px;
}

#divText {
  font-size: 60px;
  font-weight: bold;
}

.sunk {
  background-color: red;
}

.dropdown {
  right: 35px;
}

.dropdown-menu {
  min-width: 132px;
}

.btn-resetBoard {
  margin-left: -90px;
}

.ship {
  width: 160px;
}

.boardWrapper {
  float: left;
}

.shipsWrapper {
  display: none;
}

.showOnPhone {
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (min-width: 0px){ 
  .defaultCell {
    width:40px;
    height:40px;
  }

  .yTitles {
    font-size: 9px;
    margin-right: 0px;
  }

  .yTitle {
    height: 40px;
    padding-top:10px;
    margin-right: -1px;
  }

  .xTitle {
    width: 40px;
  }

  .instructions {
    float: left;
    font-size: 9px;
    width: 220px;
  }

  .dropdown {
    left: 17px;
    right: 0;
    float: left;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }

  .completedContainer {
    color: black;
    background-color: rgb(140, 216, 101);
  }
}

@media (max-width: 400px){
  #headerSpanishBattleships {
    font-size: 25px;
    text-align: center;
  }

  .dropdown {
    left: 0;
  }

  .resetButtonWrapper{
    margin-left: 93px;
  }

  .hideOnPhone {
    display: none;
  }

  .showOnPhone {
    display: block;
    margin-top: 5px;
  }

  .container {
    margin-left: 25px;
  }

  .headerRow {
    margin: 15px -30px 8px -50px;
    margin-left: -45px;
  }

  .yTitle.twoLine {
    padding-top: 8px;
  }

  .xTitles {
    margin-left: 30px;
  }

  .yTitles {
    margin-right: -10px;
  }

  .instructions {
    margin-left: 28px;
  }

  .completedContainer {
    font-size: 14px;
    width: 240px;
    height: 240px;
    padding: 15px;
  }

  .headerImage {
    width: 100%;
  }

  .ngdialog-content {
    margin: 0 20px;
  }
}

@media (min-width: 630px){ 
  .headerImage {
    width: 50%;
  }

  .ngdialog-content {
    width: 250px;
  }

  .ngdialog-content {
    width: 450px;
  }
}

@media (min-width: 768px){ 
  .defaultCell {
    width:40px;
    height:40px;
  }

  .yTitles {
    font-size: 9px;
  }

  .yTitle {
    height: 40px;
    padding-top:10px;
    margin-right: -10px;
  }

  .yTitle.twoLine {
    padding-top: 8px;
  }

  .xTitles {
  }

  .xTitle {
    width: 40px;
  }

  .instructions {
    float: left;
    font-size: 9px;
    width: 220px;
  }


  .dropdown {
    left: 17px;
    float: left;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }

  .shipsWrapper {
    float: left;
    margin-left: 10px;
    display: block;
  }

  .completedContainer {
    width: 480px;
    height: 240px;
    font-size: 25px;
  }
/*  .btn-resetBoard {
    margin-left: 0px;
  }

  .dropdown{
    right: 10px;
  }*/
}

@media (min-width: 992px){
  .defaultCell {
    width:50px;
    height:50px;
  }

  .yTitles {
    font-size: 14px;
    margin-right: -19px;
  }

  .yTitle {
    height: 50px;
    padding-top: 16px;
    margin-right: 0px;
  }

  .yTitle.twoLine {
    padding-top: 6px;
  }

  .xTitles {
  }

  .xTitle {
    width: 50px;
  }

  .instructions {
    float: left;
    font-size: 14px;
    width: 340px;
  }

  .dropdown {
    margin-top: 2px;
    left: 14px;
    float: left;
  }

  .btn-resetBoard {
    float: left;
    margin-top: 2px;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }

  .completedContainer {
    width: 600px;
    height: 300px;
    color: black;
    background-color: rgb(140, 216, 101);
    font-size: 30px;
  }
}