body {
  background-color: #003366;
  color: white;
}

@font-face {
  font-family: 'orbitron-bold-webfont';
  src: url('../fonts/orbitron-bold-webfont.woff');
}

#headerSpanishBattleships {
  font-family: 'orbitron-bold-webfont';
  font-weight: normal;
  font-style: normal;
  color: yellow;
}

#validationMessage {
  color: red;
}

.cell-bottom {
	border-bottom: solid 1;
}

.cell-right {
	border-right: solid 1;
}

td {
  width:50px;
  height:50px;
  background-color: orange;
  border:solid 1
}

td.shipRed {
  background-color: red;
}

td.shipBlue {
  background-color: blue;
}

td.shipGreen {
  background-color: green;
}

.firstCell {
  clear:both;
}

.defaultCell {
  width:40px;
  height:40px;

  border:solid 1;
  float:left;
}

.yTitles {
  width: 130px;
}

.yTitle {
  height: 50px;
  padding-top: 16px;
  text-align: right;
}


.xTitles {
    margin: 30 0 0 0;
   -moz-transform:rotate(-90deg); 
   -moz-transform-origin: top left;
   -webkit-transform: rotate(-90deg);
   -webkit-transform-origin: top left;
   -o-transform: rotate(-90deg);
   -o-transform-origin:  top left;
    position:relative;
   top:40px;
   height: 50px;
   width: 50px;
   padding-top: 13px;
}

.xTitle {
  width: 50px;
  height: 50px;
}

.tocadoContainer {
  width: 600px;
  height: 300px;
}

.tocado {
  font-size: 80px;
  text-align: center;
  padding-top:96px;
}

#divText {
  font-size: 60px;
  font-weight: bold;
}

.sunk {
  background-color: red;
}

.dropdown {
  right: 35px;
}

.dropdown-menu {
  min-width: 132px;
}

.btn-resetBoard {
  margin-left: -90px;
}

.ship {
  width: 160px;
}

.boardWrapper {
  float: left;
}

.shipsWrapper {
  display: none;
}

.showOnPhone {
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



@media (min-width: 0px){ 
  .defaultCell {
    width:40px;
    height:40px;
  }

  .yTitles {
    font-size: 9px;
  }

  .yTitle {
    height: 40px;
    padding-top:10px;
    margin-right: -1px;
  }

  .xTitle {
    width: 40px;
    height: 40px;
  }

  .instructions {
    float: left;
    font-size: 9px;
    width: 220px;
  }

  .dropdown {
    left: 17px;
    right: 0;
    float: left;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }
}

@media (max-width: 400px){
  #headerSpanishBattleships {
    font-size: 25px;
    text-align: center;
  }

  .dropdown {
    left: 0;
  }

  .resetButtonWrapper{
    margin-left: 93px;
  }

  .hideOnPhone {
    display: none;
  }

  .showOnPhone {
    display: block;
    margin-top: 5px;
  }

  .container {
    margin-left: 15px;
  }

  .headerRow {
    margin-left: -30px;
  }

  .yTitle.twoLine {
    padding-top: 8px;
  }
}

@media (min-width: 630px){ 
  
}

@media (min-width: 768px){ 
  .defaultCell {
    width:40px;
    height:40px;
  }

  .yTitles {
    font-size: 9px;
  }

  .yTitle {
    height: 40px;
    padding-top:10px;
    margin-right: -10px;
  }

  .yTitle.twoLine {
    padding-top: 8px;
  }

  .xTitles {
  }

  .xTitle {
    width: 40px;
    height: 40px;
  }

  .instructions {
    float: left;
    font-size: 9px;
    width: 220px;
  }


  .dropdown {
    left: 17px;
    float: left;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }

  .shipsWrapper {
    float: left;
    margin-left: 10px;
    display: block;
  }
/*  .btn-resetBoard {
    margin-left: 0px;
  }

  .dropdown{
    right: 10px;
  }*/
}

@media (min-width: 992px){
  .defaultCell {
    width:50px;
    height:50px;
  }

  .yTitles {
    font-size: 14px;
  }

  .yTitle {
    height: 50px;
    padding-top: 16px;
    margin-right: 0px;
  }

  .yTitle.twoLine {
    padding-top: 6px;
  }

  .xTitles {
  }

  .xTitle {
    width: 50px;
    height: 50px;
  }

  .instructions {
    float: left;
    font-size: 14px;
    width: 340px;
  }

  .dropdown {
    margin-top: 2px;
    left: 14px;
    float: left;
  }

  .btn-resetBoard {
    float: left;
    margin-top: 2px;
  }

  .resetButtonWrapper {
    float: left;
    margin-left: 113px;
    margin-top: 0px;
  }
}